@import '../node_modules/bootstrap/scss/bootstrap';

body {
  background-color: #5078f2;
  background-image: linear-gradient(315deg, #5078f2 0%, #efe9f4 74%);
}

p {
  line-height: 1.75;
}

.text-faded {
  color: darkred;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}

.site-heading {
  text-transform: uppercase;
  line-height: 1;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
}
.site-heading .site-heading-lower {
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
}
.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
}
.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}

.bg-faded {
  background-color: $light;
}

.btn-xl {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

#mainNav {
  background-color: $dark;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
}
@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
  }
  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #e6a756;
  }
}

.btn {
  box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}

.footer {
  background-color: $light;
}

.carousel-item {
  height: 700px;
}

.carousel-inner {
  background-color: black;
}

#carousel-item__img-1--2019 {
  background: url(../assets/img/Gabi2019_1.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#carousel-item__img-2--2019 {
  background: url(../assets/img/Gabi2019_2.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#carousel-item__img-3--2019 {
  background: url(../assets/img/Gabi2019_3.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#carousel-item__img-1--2020 {
  background: url(../assets/img/Gabi2020_1.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#carousel-item__img-2--2020 {
  background: url(../assets/img/Gabi2020_2.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#carousel-item__img-3--2020 {
  background: url(../assets/img/Gabi2020_3.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#carousel-item__img-4--2020 {
  background: url(../assets/img/Gabi2020_4.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#carousel-item__img-5--2020 {
  background: url(../assets/img/Gabi2020_5.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#carousel-item__img-1--2021 {
  background: url(../assets/img/Gabi2021_1.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#carousel-item__img-2--2021 {
  background: url(../assets/img/Gabi2021_2.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#carousel-item__img-3--2021 {
  background: url(../assets/img/Gabi2021_3.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#carousel-item__img-4--2021 {
  background: url(../assets/img/Gabi2021_4.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#carousel-item__img-5--2021 {
  background: url(../assets/img/Gabi2021_5.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
